*{
    font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
}

nav{
    height: 50px;
    background-color: #212121;
}

.label{
    padding: 5px 0;
    width: 112px;
    height: 24px;
    background-color: #000000;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 auto;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 12px 70px;
    margin: 0;
    list-style: none;
}

.menu_item{
    border-right: 2px dotted black;
    padding-right: 28px;
}

.menu_link{
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;

}

.menu_link:hover{
    color: #ffffff;
}

.promo{
    min-height: 800px;
    background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
    padding: 150px 0 134px 0;
}

.promo_btn{
    display: block;
    width: 259px;
    height: 63px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to top, #79b7db 0%, #74c1ee 100%);
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.5);
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 120px auto 0 auto;
}

.promo_descr{
    margin: 22px 0 0 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.promo_header{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    margin: 0;
    text-transform: uppercase;
    line-height: 60px;
}

.promo_subheader{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 36px;
    margin: 10px 0 0 0;
}

.reasons{
    padding: 71px 0 68px 0;
}

.reason_block{
    display: flex;
    margin: 35px 0 0 0;
    align-items: center;
    justify-content: center;
}

.reason_descr{
    width: 342px;
}

.reason_round{
    display: flex;
    min-width: 113px;
    min-height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 35px 0 0;
}

.reason_subtitle{
    font-size: 17px;
    font-weight: 400;
    color: #1eacc7;
}

.reason_text{
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
    text-align: justify;
    color: #202020;
}

.subheader{
    height: 84px;
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0, 0.6);
}

.subheader_btn{
    margin: 19px 0 0 0;
    width: 172px;
    height: 46px;
    border: none;
    background-image: linear-gradient(to top, #79b7db 0%, #74c1ee 100%);
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);

}

.subheader_call{
    font-size: 12px;
    font-weight: 300;;
    text-align: right;
    color: #ffffff;
    margin: 19px 0 0 0;
}

.subheader_phone{
    display: block;
    font-size: 21px;
    font-weight: 400;
    text-align: right;
    color: #ffffff;
}

.subheader_phone:hover{
    color: #ffffff;
}

.subheader_logo{
    display: block;
    max-width: 100%;
    margin: 22px 0 0 0;

}

.subheader_official{
    font-size: 13px;
    font-weight: 100;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}

.title{
    margin: 38px auto 0 auto;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    text-align: center;
    color: #222222;
    text-transform: uppercase;
}